@import "tailwindcss";
@import './fonts.css';
@import "./theme.css";

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-accent-500 m-0 italic font-bold;
  }

  h1 {
    line-height: 1.1 !important;
    @apply text-5xl;
  }

  h2 {
    line-height: 1.1 !important;
    @apply text-4xl;
  }

  h3 {
    line-height: 1.1 !important;
    @apply text-2xl;
  }

  h4 {
    line-height: 1.1 !important;
    @apply text-base;
  }

  #root {
    @apply bg-primary-500 text-primary-100 flex flex-col min-h-screen font-normal text-base;
  }

  button {
    @apply italic h-12 font-bold bg-secondary-500 text-white py-2 px-4 rounded-full hover:bg-secondary-700 hover:cursor-pointer hover:opacity-75 flex items-center justify-center;
  }

  button[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }

  input {
    @apply border-2 border-primary-100 bg-transparent text-primary-100 p-2 px-4 rounded-full focus:outline-none focus:border-secondary-500;
  }

  * {
    @apply transition-[opacity,transform,background-color,border-color,color] duration-300;
  }

  .outline {
    @apply border-2 bg-transparent border-white;
  }

  .bg-blur:hover {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: white #020E1A;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 16px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #020E1A;
    border-radius: 3px;
    border: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
    border: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3730a3;
  }
  

}

@layer utilities {
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
  }

  .fade-in-initial {
    opacity: 0;
  }

  .fade-in-active {
    opacity: 1;
    transition: opacity 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
