button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  filter: brightness(0.8);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.button-primary {
  width: clamp(120px, 100%, 180px);
  height: 48px;
  background-color: var(--secondary-500);
  border: 2px solid var(--secondary-500);
  color: #fff;
  border-radius: 32px;
  font-weight: bold;
  font-style: italic;
}
  
.button-outline {
  width: clamp(120px, 100%, 180px);
  height: 48px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  border-radius: 32px;
  font-weight: bold;
  font-style: italic;
}

.button-info {
  background-color: white;
  border: 1px solid var(--secondary-500);
  color: var(--secondary-500);
  border-radius: 100%;
  height: 32px;
  width: 32px;
  padding: 0;
  font-weight: bold;
}

.button-icon {
  border: 2px solid var(--primary-100);
  color: var(--primary-100);
  border-radius: 100%;
  height: 48px;
  width: 48px;
  padding: 0;
  font-weight: bold;
}

.button-circle {
  border: 2px solid white;
  color: white;
  border-radius: 100%;
  height: 64px;
  width: 64px;
  padding: 0;
  font-weight: bold;
}

.button-pagination {
  color: var(--primary-100);
  border-radius: 32px;
  height: 32px;
  width: 32px;
  padding: 0;
  font-weight: bold;
}

.button-pagination.active {
  border: 2px solid var(--primary-100);
}

/* inputs */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 2px solid var(--primary-100);
  color: white;
  background-color: transparent;
  border-radius: 48px;
  height: 48px;
  padding: 0 var(--gap-lg);
}

input:focus,
textarea:focus {
  outline: 4px auto -webkit-focus-ring-color;
}



/* filter */

.filter-bar {
    display: grid;
    grid-template-columns: 1fr 48px;
    gap: var(--gap-sm);
    margin-bottom: var(--gap-md);
}

.filter-modal {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid var(--primary-100);
  border-radius: var(--gap-md);
  margin-bottom: var(--gap-md);
}

.filter-badge {
  display: flex;
  padding: var(--gap-xs) var(--gap-sm);
  border-radius: var(--gap-lg);
  border: 2px solid var(--primary-100);
  color: white;
  background-color: transparent;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  gap: var(--gap-xs);
}

/* Header */

.logo {
  font-size: 2rem;
  color: white;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-700);
  color: white;
}
