/* Main layout styles */

:root {
  --primary-color: #082e57;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --font-size: 14px;
}

html, body {
  height: 100%;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #eee;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;
}

.image-container {
  position: relative;
}

/* typography */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

/* header styles */

.logo {
  font-size: 2rem;
  margin: 1rem;
  color: #262626;
}

nav {
  display: flex;
  gap: 1rem;
}

/* Components */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  filter: brightness(0.8);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* SwipeCard CSS */

.swipe-card {
  overflow-y: auto;
}

.swipe-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 1rem;
  position:absolute;
  bottom: 16px;
  left: 16px;
}

.AnswerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.swipe-button {
  width: 64px;
  height: 64px;
  padding: 0;
  border-radius: 100%;
}

